@model CetBookStore.Models.Category
@{
    ViewData["Title"] = "Kategori Ekle";
}

<div class="row justify-content-center">
    <div class="col-lg-6">
        <h2 class="mb-4 fw-bold">Yeni Kategori Ekle</h2>
        
        <div class="card p-4">
            <form asp-action="Create">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label text-muted">Kategori Adı</label>
                    <input asp-for="Name" class="form-control form-control-lg" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mt-4 text-end">
                    <button type="submit" class="btn btn-primary btn-lg px-5">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
